body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(17, 17, 17);
    color: white;
    animation: fadeIn 2.5s;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
} 
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0066ff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
} 
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.active_link{
    color: white !important;
}
.navlink-hover:hover{
    padding-bottom: 11px;
    padding-top: 5px;
    transition: 0.2s;
}
.nav-link{
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    font-weight: bolder;
}
.list-group-item{
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 0.25rem;
}
.list-group-item.active{
    z-index: 2;
    color: white;
    border-color: #0d6efd;
    background-color: rgb(17, 17, 17);
}
.list-group-item:hover{
    background-color: #262626;
    color: white;
}
.socialMediaList{
    margin-top: 8rem;
}
.instagramLink{
    color: #C13584;
}
.linkedinList{
    color: #0072b1;
}
.discordLink{
    color:#7289DA
}
.weatherInfo{
    margin-top: 8rem;
    margin-left: 16px;
}
.page{
    margin-top: 8rem;
    margin-left: 8rem; 
}
.indexImageClass{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    max-width: 270px;
}