body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(17, 17, 17);
    color: #e6e6e6;
    animation: fadeIn 2.5s;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
} 
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0066ff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
} 
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.active_link{
    color: white !important;
}
.navlink-hover:hover{
    padding-bottom: 11px;
    padding-top: 5px;
    transition: 0.2s;
}
.nav-link{
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    font-weight: bolder;
}
.list-group-item{
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 0.25rem;
}
.list-group-item.active{
    z-index: 2;
    color: white;
    border-color: #0d6efd;
    background-color: #1a1a1a;
}
.list-group-item:hover{
    background-color: #262626;
    color: white;
    padding-left: 23px;
    padding-right: 9px;
    transition: 0.2s;
}
.socialMediaList{
    margin-top: 8rem;
}
.instagramLink{
    color: #e6005c !important;
}
.linkedinLink{
    color: #0095e6 !important;
}
.discordLink{
    color:#7289DA !important;
}
.githubLink{
    color: white !important;
}
.weatherInfo{
    margin-top: 8rem;
    margin-left: 16px;
}
.page{
    margin-top: 8rem;
    margin-left: 8rem; 
}
.indexImageClass{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    max-width: 270px;
}
.roleListings{
    display: inline-block;
}
.positionTitle{
    background-color: #333333;
    color: #64ffda;
    border-radius: 5px;
    padding: 4px 8px;
}
.greenColor{
    color: #64ffda !important;
}
.techListAbout ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
}
.aboutPageLinkGreen{
    color: #64ffda !important;
    text-decoration: none;
}
.aboutPageLinkGreen:hover{
    color: white !important;
}
.companiesListings{
    list-style-type: none;
    padding-left:0;
    margin-top: 0.5rem;
}
.companiesListings li{
    padding: 8px 16px 8px 16px;
    border-radius: 0.25rem;
    margin-bottom: 3px;
}
.compActive{
    background-color: #1a1a1a;
    color: #64ffda;
}
.companiesListings li:hover{
    background-color: #262626;
    color: #64ffda;
    padding-left: 23px;
    padding-right: 9px;
    transition: 0.2s;
    cursor: pointer;
}
.experiencePage{
    margin-top: 4rem;
    margin-left: 4rem;
    padding-right: 9rem;
}
.scotiabankLogoPage{
    height: 3.5rem;
}
.compDurTime{
    font-style: italic;
    font-size: 100%;
    color: #9FA6B2;
    padding-top: 1.3rem;
    text-align: right;
}
.scotiaImage1{
    width: 25rem;
    border-radius: 2%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.skillListing{
    display: inline-block;
}
.skillTitle{
    background-color: #333333;
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 85%;
}
.projectListing{
    display: inline-block;
}
.projectTitle{
    background-color: #333333;
    color: white;
    border-radius: 5px;
    padding: 4px 8px; 
    font-size: 85%;
}
.ieeeLogoPage{
    height: 5rem;
}
.enactusLogoPage{
    height: 6rem;
    border-radius: 0.25rem;
}
.projectListings{
    list-style-type: none;
    padding-left:0;
    margin-top: 0.5rem;
}
.projectListings li{
    padding: 8px 16px 8px 16px;
    border-radius: 0.25rem;
    margin-bottom: 3px;
}
.projectListings li:hover{
    background-color: #262626;
    color: #64ffda;
    padding-left: 23px;
    padding-right: 9px;
    transition: 0.2s;
    cursor: pointer;
}
.githubProjPage{
    margin-top: 2rem;
    margin-left: 2rem;
    padding-right: 7rem;
}
.projVisitLinkText{
    background-color: #3d3d5c;
    border-radius: 1rem;
    color: white;
    padding: 8px;
}
.projVisitLink{
    text-decoration: none;
    width: 70%;
    text-align: center;
}
.projVisitLinkText:hover{
    background-color: #4d0099;
    transition: 0.4s;
}
.projActive{
    background-color: #1a1a1a;
    color: #64ffda;
}
.courseListGrid ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1);
}
.awardListGrid ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1);
}
.tmuImage{
    width: 12rem;
    margin-top: 2rem
}