.container{
    max-width: 52vw;
}

@media(min-width: 600px){
    #sideNavBarOpen{
        display:none
    }
}

@media(max-width: 600px)
{
    .imageDiv{
        display: none;
    }
    .container{
        max-width: 90vw !important;
        font-size: 83% !important;
    }
    .indexNavigationBar{
        display: none;
    }
}

@media(min-width: 1920px)
{
    .container{
        max-width: 50vw !important;
        font-size: 130% !important;
    }
    
}

body{
    font-family: 'Quicksand';
    animation: fadeIn 2.5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.ruBlueColor {
    color: #004C9B !important;
}
.ruYellowColor {
    color: #FFDC00 !important;
}
.rmLinkUnderline{
    text-decoration: none;
}
.fcScotiaRed{
    color: #EC111A;
}
p{
    margin-top: 1.3rem;
}
.linkTextColor{
    color: #637c36;
    text-decoration: none
}
.indexImageClass{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    min-width: 200px;
}
.linkedinColor{
    color: #0072b1
}
.linkedinColor:hover{
    color: #005380
}
.instaColor{
    color: #fb3958
}
.instaColor:hover{
    color: #e10529
}
.githubColor{
    color: #171515
}
.githubColor:hover{
    color:  #928787;
}
.outlookColor{
    color: #00A4EF
}
.outlookColor:hover{
    color: #007ab3
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0066ff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navlink-hover:hover{
    padding-bottom: 11px;
    padding-top: 5px;
    transition: 0.2s;
}
.nav-link{
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    font-weight: bolder;
}
.socialIcons{
    font-size: 1.2rem; 
}
.bottom{
    position: fixed;
    bottom: 0;
    right: 0;
}
.copyrights{
    font-size: 80%;
}
.sideNavOpenButton{
    background-color: #d9d9d9;
}
.sidebarNavButton{
    width: 100%;
    text-align: left;
}
.sidebarNavButton:hover{
    background-color: #d9d9d9;
}